<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/vue@3/dist/vue.global.js"
    ></script>
  </head>
  <body>
    <div id="app">
      <p v-if="show">Hello world! Im showing my text!</p>
      <p v-if="!show">Oh! You hid the text above! Now im being shown!</p>
      <button @click="show = !show">Mostrar</button>
    </div>

    <script type="text/javascript">
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            show: true,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
